[submodule "sevianno"]
	path = sevianno
	url = git@github.com:DadaMonad/sevianno.git
[submodule "url-replacer"]
	path = url-replacer
	url = git@github.com:DadaMonad/url-replacer.git
[submodule "collaborative-editor-widget"]
	path = collaborative-editor-widget
	url = git@github.com:DadaMonad/collaborative-editor-widget.git
[submodule "iwc-testing-widget-bundle"]
	path = iwc-testing-widget-bundle
	url = git@github.com:DadaMonad/iwc-testing-widget-bundle.git
[submodule "SyncLD"]
	path = SyncLD
	url = git@github.com:DadaMonad/SyncLD.git
[submodule "libraries/OpenCoweb-jsoe"]
	path = libraries/OpenCoweb-jsoe
	url = https://github.com/rwth-acis/OpenCoweb-jsoe.git
